body{
    font-family: 'Space Mono', monospace;
    margin: 0;
    padding: 0;
}
.logo{
    font-family: 'Inconsolata', monospace;
    font-weight: 600;
    letter-spacing:-3px;
    margin:1em;
}
main{
    margin:5em 0;
}
.main{
    max-width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    .img{
        img{
            width: 80%;
        }
    }
   .text{
       h1{
           font-size: 4rem;
           font-weight: 700;
       }
       p{
           font-size: 1.44rem;
           font-weight: 400;
           width: 15em;
           margin: 2em 0;
       }
       button{
           width: 15em;
           height: 4em;
           background: #333333;
           a{
               text-decoration: none;
               color: #fff;
           }
       }
   }
}
@media (max-width:700px){
    .main{
        display: block;
    }
}